.button-black {
    background-color: black;
    border-color: black;
}

.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: black;
}

.button-black.button-clear {
    border-color: transparent;
}

.button-black.button-clear {
    border-color: transparent;
}

.button-red {
    background-color: #f24754;
    border-color: #f24754;
}

.button-red.button-clear,
.button-red.button-outline {
    background-color: transparent;
    color: #f24754;
}

.button-red.button-clear {
    border-color: transparent;
}

.button-red.button-clear {
    border-color: transparent;
}

.button-small {
    font-size: 0.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
}

.text-center {
    text-align: center;
}

a {
    color: black;
    font-weight: 700;
    text-decoration: underline;
}

a:focus,
a:hover {
    color: #606c76;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    border-color: black;
    outline: 0;
}

.button[disabled]:focus,
.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type="button"][disabled]:focus,
input[type="button"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="reset"][disabled]:hover,
input[type="submit"][disabled]:focus,
input[type="submit"][disabled]:hover {
    background-color: #606c76;
    border-color: #606c76;
    cursor: not-allowed;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
}

.error {
    color: #f44336;
    font-size: 12px;
}

select option[data-default] {
    color: #757575;
}

.cursor-pointer {
    cursor: pointer;
}

.display-hidden {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.w-100 {
    width: 100%;
}

.border-bottom {
    border-bottom: 1px solid #222;
}

.m-auto {
    margin: 0 auto !important;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select,
.mat-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    width: 100%;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus,
.mat-select:focus {
    border-color: #606c76;
    outline: 0;
}

.border {
    border: 1px solid black;
}

.h-100 {
    height: 100%;
}

.p-sm {
    padding: 6px;
}

.p-md {
    padding: 8px;
}

.p-lg {
    padding: 12px;
}

.m-sm {
    margin: 6px;
}

.m-md {
    margin: 8px;
}

.m-lg {
    margin: 12px;
}

.list-item {
    cursor: pointer;
}

.list-item:hover {
    color: #5bb48b;
}

.search-wrapper {
    max-height: 400px;
}

#search-list{
  height:75%;
  overflow-y: auto;
}

@media (max-width: 40rem) {
    .m-disable-float {
        float: none;
    }

    .m-text-center {
        text-align: center;
    }

    .m-display-inline {
        display: inline-block;
    }

    .m-display-none {
        display: none !important;
    }

    .m-display-block {
        display: block !important;
    }
}